<% include ../partials/header %>
<div class="ui text main container segment">
    <h3 class="ui header">comment on <%=car.carname%></h3>
    <form class="ui reply form" action="/cars/<%=car._id%>/comments" method="POST" >
        <div class="field">
          <textarea  name="text"  placeholder="pleave leave your comment here"></textarea>
        </div>
        <div class="ui primary submit labeled icon button">
          <i class="icon add"></i> <button class="ui blue button">Add Comment</button> 
        </div>
      </form>
    </div>
</div>

<% include ../partials/footer%>