<% include ../partials/header %>

<div class="ui text main container segment">
    <h1>please post your car info below </h1>

<form class="ui form" action="/cars" method="POST" >
        <div class="field">
          <label>Car Name</label>
          <input type="text" name="carname" placeholder="enter Car Name here">
        </div>
        <div class="field">
          <label>Image</label>
          <input type="text" name="image" placeholder="car pic">
        </div>
        <div class="field">
            <label>Model</label>
             <input type="text" name="model" placeholder="enter car model">
        </div>
        <div class="field">
           <label>Make</label>
           <input type="text" name="make" placeholder="enter Car Make">
         </div>
         <div class="field">
            <label>Year</label>
            <input type="date" name="year" placeholder="yare of the car">
        </div>
       
        <button class="ui blue button" type="submit">Post</button>
      </form>
    </div>



<% include ../partials/footer %>